.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .home-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-content {
    padding: 20px;
    text-align: center;
  }