.footer {
  background: linear-gradient(to right, #FF91AF, #8a2be2); /* Gradiente violetا */
  color: white; /* نص أبيض لتحسين التباين */
  text-align: center;
  padding: 20px 20px; /* زيادة الحشو الرأسي لسطح المكتب */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* يتضمن الحشو والحدود في العرض */
  border-top: 2px solid rgba(0, 0, 0, 0.1); /* حد علوي دقيق */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* ظل علوي دقيق */
}

.footer h2 {
  flex: 1;
  margin: 0; /* إزالة الهوامش الافتراضية لـ h2 */
}

.chat-button-container {
  margin-left: auto; /* دفع الزر إلى أقصى اليمين */
}

/* استعلام الوسائط لكي لا يشغل التذييل الشاشة بأكملها على الهواتف المحمولة */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* تكديس العناصر عموديًا */
    align-items: center;
    padding: 40px 10px; /* زيادة الحشو الرأسي بشكل أكبر للهواتف المحمولة */
  }
  .footer h2 {
    margin-bottom: 15px; /* زيادة الهامش السفلي لمزيد من المساحة على الهواتف المحمولة */
    text-align: center;
    font-size: 1.2em; /* تقليل حجم الخط قليلاً إذا كان النص طويلاً جدًا */
  }
  .chat-button-container {
    margin-left: 0;
  }
}
