.footer {
  background: linear-gradient(to right, #FF91AF, #8a2be2); /* Gradiente violeta */
  color: white; /* Texto blanco para mejor contraste */
  text-align: center;
  padding: 30px 20px; /* Aumenté el padding vertical para hacerlo más alto */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Incluye padding y border en el ancho */
  border-top: 2px solid rgba(0, 0, 0, 0.1); /* Borde superior sutil */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra superior sutil */
}

.footer h2 {
  flex: 1;
  margin: 5px; /* Agregué un margen de 5px alrededor del texto */
}

.chat-button-container {
  margin-left: auto; /* Empuja el botón al extremo derecho */
}

/* Media query para que el footer no ocupe toda la pantalla en moviles */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    padding: 20px 10px; /* Reduje un poco el padding vertical */
    min-height: 120px; /* Establecí una altura mínima para el footer en móviles */
  }
  .footer h2 {
    margin-bottom: 10px; /* Ajusté el margen inferior */
    text-align: center;
    font-size: 1.2em; /* Mantengo la reducción del tamaño de fuente */
  }
  .chat-button-container {
    margin-left: 0;
  }
}
