.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté encima del contenido */
  height: 60px; /* Ajusta la altura según tu diseño */
  padding: 20px;
  box-sizing: border-box;
}

.navbar ul {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar li {
  border-top: 1px solid;
  border-left: 1px solid;
  list-style: none;
  position: center;
  width: 100%;
}

.navbar a {
  display: block;
  padding: 10px 30px;
  color: #0333F5;
  text-decoration: none;
}

header {
  position: fixed; /* Esto podría causar el problema */
  top: 0;
  left: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px auto; /* Agrega margen inferior para separar la imagen del título */
}

.course-header {
  position: static; /* Asegúrate de que no sea fixed o sticky */
  text-align: center;
  margin-bottom: 20px;
}

.course-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 10px; /* Asegura que haya espacio entre el título y otros elementos */
}

.image-container {
  position: relative;
  text-align: center; /* Centra el contenido horizontalmente */
  margin: 20px auto; /* Centra el contenedor en la página */
  max-width: 90%; /* Limita el ancho máximo del contenedor */
}

.image-title {
  position: static; /* Asegúrate de que no sea fixed o sticky */
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.responsive-image {
  display: block;
  max-width: 100%; /* Hace que la imagen sea responsiva */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

main {
  margin-top: 80px; /* Ajusta este valor según la altura de la navbar */
  margin-bottom: 80px; /* Ajusta este valor según la altura del footer */
  padding: 20px; /* Opcional: agrega un poco de espacio interno */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté encima del contenido */
  height: 60px; /* Ajusta la altura según tu diseño */
}

.studies-sidebar {
  width: 40%;
  position: fixed;
  left: 0;
  top: 80px;
  height: calc(100vh - 160px);
  overflow-y: auto;
  background: #fff;
  z-index: 10;
  padding-right: 16px;
  border-right: 1px solid #eee;
  display: none;
}

.studies-content {
  width: 100%;
  margin-left: 0;
}

@media (min-width: 1024px) {
  .studies-sidebar {
    display: block;
    padding-bottom: 80px; /* Espacio para el footer fijo */
  }
  .studies-content {
    width: 60%;
    margin-left: 40%;
    padding-left: 32px;
  }
}